################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ptalform_clr/ptalform_clr/obj
/ptalform_clr/.vs/ptalform_clr/v17
